button {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    background-color: inherit;
}

a, a:visited {
    transition: 0.3s;
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #683bb6;
}

@font-face {
    font-family: "Plus Jakarta Sans";
    src: url(fonts/Plus-Jakarta-Sans/PlusJakartaSans-VariableFont_wght.ttf);
}

body {
    margin: 0;
    height: 100vh;
    background-color: #161616;
    color: #683bb6;
    font-family: "Plus Jakarta Sans";
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.header {
    display: flex;
    align-items: center;
    height: 12%;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(104 59 182 / 60%);
    white-space: nowrap;
}   

.heading {
    width: 450px;
    text-align: center;
    font-size: 70px;
    margin: auto;
    height: 89px;
    overflow-x: auto;

}

.menu {
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    height: 12%;
    border-bottom: 1px solid rgb(104 59 182 / 60%);
    width: 100%;
}

.mode-button {
    height: 66px;
    width: 66px;
    background-color:rgb(104 59 182 / 60%);
    border-radius: 100%;
    transition: 0.3s;
}

.mode-button-selected {
    transform: scale(0.86);
    background-color: rgb(104 59 182 / 80%);
}

.mode-button.text-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    width: fit-content;
    padding: 5px 10px;
    height: fit-content;
    border-radius: 10px;
    font-weight: 700;
}

.mode-button.selectable:hover {
    transform: scale(0.86);
    background-color:rgb(104 59 182 / 90%); 
}

.mode-button:disabled {
    background-color:rgb(104 59 182 / 30%); 
}

.go-up-animation {
    transform: translateY(-90px);
}
.go-down-animation {
    transform: translateY(90px);
}

#computer-button {
    min-width: 66px;
    min-height: 66px;
    position: relative;
    left: 50%;
}

.group-horizontally.dm {
    max-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.difficulty-menu {
    display: flex;
    flex-direction: column;
    gap: 2px;
    position: relative;
    text-align: center;
    left: -43%;
    padding: 0 5px;
    width: 100%;
    transition: 0.3s;
}

.dm-option {
    font-size: 15px;
    transition: 0.3s;
}

.text-menu-selected {
    transform: scale(1.3);
    text-decoration:underline;
}

.group-vertically {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.group-horizontally {
    display: flex;
    gap: 10px;
}

.player-name-section {
    align-items: center;
}

.name-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.name-input > input {
    width: 80px;
    height: 25px;
    background-color: inherit;
    border: 1px solid #683bb6;
    border-radius: 5px;
    color: #683bb6;
    text-align: center;
    font-size: 18px;
}   

.sub-button {
    padding: 2px 5px !important;
    font-size: 18px !important;
    border-radius: 5px !important;
}

.menu-img {
    width: 44px;
    height: 44px;
}

.main-content {
    height: 82%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-content > .board {   
    height: 72%;
}

.board {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 474px;
}

.board-history > .board {
    max-width: 105px;
}

.winner-screen {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 474px;
    height: 474px;
    position: relative;
    left: -50%;
    flex-shrink: 0;
    background-color: rgb(104 59 182 / 10%);
    -webkit-box-shadow: 0px 0px 24px 17px rgba(104, 59, 182, 0.1);
    -moz-box-shadow: 0px 0px 24px 17px rgba(104, 59, 182, 0.1);
    box-shadow: 0px 0px 24px 17px rgba(104, 59, 182, 0.1);
}

.winner-screen > p {
    font-size: 60px;
    text-align: center;
}

.board-history > .board > .winner-screen {
    width: 105px;
    height: 105px;
}

.board-history > .board > .winner-screen:hover {
    opacity: 0;
}

.board-history > .board > .winner-screen:hover {
    visibility: hidden;
}

.board-history > .board > .winner-screen > p {
    font-size: 15px;
}

.board-grid.big { 
    width: fit-content;
    margin: auto;
    display: grid;
    grid-template-rows: 158px 158px 158px;
    grid-template-columns: 158px 158px 158px;
}

.board-grid {
    position: relative;
    left: 50%;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.big > .cell > .choice-icon {
    width: 128px;
    height: 128px;
}

.small > .cell > .choice-icon {
    width: 25px;
    height: 25px;
}

.board-history {
    display: flex;  
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    height: 18%;
    border-bottom: 1px solid rgb(104 59 182 / 60%);
    border-top: 1px solid rgb(104 59 182 / 60%);
    overflow-x: auto;
    overflow-y: hidden;
}

.board-history {
    color: rgb(104 59 182 / 60%);
}

.board-grid.small {
    width: fit-content;
    margin: auto;
    display: grid;
    grid-template-rows: 35px 35px 35px;
    grid-template-columns: 35px 35px 35px;
}

.footer {
    height: 4%;
    display: flex;
    align-items: center;
}

.footer-attribute {
    font-weight: 100;
    width: fit-content;
    margin: auto;
    color: rgb(104 59 182 / 60%);;
}


.cell-border-left {
    border-left: 2px solid rgb(104 59 182 / 60%);
}

.cell-border-right {
    border-right: 2px solid rgb(104 59 182 / 60%);
}

.cell-border-top {
    border-top: 2px solid rgb(104 59 182 / 60%);
}

.cell-border-bottom {
    border-bottom: 2px solid rgb(104 59 182 / 60%);
}


.big > .cell-border-left {
    border-left: 3px solid rgb(104 59 182 / 60%);
}

.big > .cell-border-right {
    border-right: 3px solid rgb(104 59 182 / 60%);
}

.big > .cell-border-top {
    border-top: 3px solid rgb(104 59 182 / 60%);
}

.big > .cell-border-bottom {
    border-bottom: 3px solid rgb(104 59 182 / 60%);
}

/* width */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
  
/* Track */
::-webkit-scrollbar-track {
  background: rgb(104 59 182 / 60%);
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #683bb6;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    
}

input {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}